# Environment variables
.env
.env.*

# Python
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Build and IDE
.git/
.gitignore
.vscode/
.idea/

# Media/Uploads (we don't want local test audio in the production image)
media/
